body {
    margin:0;
    font-family: Inter, sans-serif;
}

.lang-ur { display:none; }

body.urdu-active .lang-en {
    display:none !important;
}

body.urdu-active .lang-ur {
    display:block !important;
    direction:rtl;
}
